<h1>Welcome <%= name %></h1>
<h1>email : <%= email %></h1>
<h1>coaching : <%= coaching %></h1>

subject 1 : <a href="/room/73b29873-c0bb-48e5-9427-a288646e5ae7" target="_blank">join</a>

<form action="/logout" method="get">
<button>logout</button>
</form>