<% if(typeof err!='undefined') {%>
    <h1><%= err %></h1>
<% } %>
<!-- 
<form method="post" id="registerform">
<input type="text" name="name" placeholder="name" id="name" >
<input type="email" name="email" id="email" placeholder="email">
<input type="password" name="password" id="password" placeholder="password">
<input type="password" name="password2" id="password2" placeholder="confirm password">
<input type="text" name="coaching" id="coaching" placeholder="coaching">
<button type="submit">Register</button>
</form>
<a href="/forget-password">Forget password?</a>
<a href="/login">old user?</a> -->


<!-- <h1>User registration</h1>

<form action="/register/student" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <input type="text" name="coaching" placeholder="coaching">
  <input type="Number" name="contacts" placeholder="contact">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password2" placeholder="confirm password">

  <select name="class" id="class">
    <option value="xi">XI</option>
    <option value="xii">XII</option>
  </select>
  <input type="text" name="subject" placeholder="subject">
  <input type="file" name="avatar">
  <button type="submit">submit</button>
</form>

<h1>Teacher registration</h1>

<form action="/register/teacher" method="post" enctype="multipart/form-data">
  <input type="text" name="name" placeholder="name">
  <input type="email" name="email" placeholder="email">
  <input type="text" name="address" placeholder="address">
  <input type="text" name="coaching" placeholder="coaching">
  <input type="Number" name="contacts" placeholder="contact">
  <input type="password" name="password" placeholder="password">
  <input type="password" name="password2" placeholder="confirm password">

  <select name="class" id="class">
    <option value="xi">XI</option>
    <option value="xii">XII</option>
  </select>
  <input type="text" name="subject" placeholder="subject">
  <input type="file" name="avatar">
  <button type="submit">submit</button>
</form>

<h1>Coaching registraion</h1>

<form action="/register/coaching" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="address" placeholder="address">
    <input type="file" name="avatar">
    <button action="/register" type="submit">submit</button>
  </form> -->

  <!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,500&display=swap" rel="stylesheet">
</head>
    <body>
        <div class="container register">
            <div class="row">
                <div class="column-1">
                    <img class="img-sel"src="https://image.ibb.co/n7oTvU/logo_white.png" alt=""/>
                </div>
                <div class="column">
                    <img class="img-sel"src="./img/3 SCENE.svg" alt="" srcset="">
                    <h3 class="red">
                        register as student
                    </h3>
                    <p class="column__text" >
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <a href="./register-student" class="btn red"> register</a>
                </div>
                <div class="column">       
                    <img class="img-sel"src="./img/8 SCENE.svg" alt="" srcset="">
                    <h3 class="purple" >
                        register as Teacher
                    </h3>
                    <p class="column__text" >
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <a href="/register-teacher" class="btn purple"> register</a>
                </div>
                <div class="column">
                    <img class="img-sel"src="./img/9 SCENE.svg" alt="" srcset="">
                    <h3 class="green">
                        register as Coaching
                    </h3>
                    <p class="column__text" >
                        Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                    </p>
                    <a href="#" class="btn green"> register</a>
                </div>
            </div>
        </div>                            
    </body>
</html>


