<% if(typeof err!='undefined') {%>
<h1><%= err %></h1>
<% } %>

<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register</title>
    <link rel="stylesheet" href="./css/register.css">
    <link href="https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,400;0,500;0,600;1,300;1,500&display=swap"
        rel="stylesheet">
</head>

<body>
    <div class="container register">
        <div class="row">
            <div class="column-1">
                <img class="img-sel" src="https://image.ibb.co/n7oTvU/logo_white.png" alt="" />
            </div>
            <div class="column">
                <img class="img-sel" src="./img/3 SCENE.svg" alt="" srcset="">
                <h3 class="red">
                    register as student
                </h3>
                <p class="column__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/register/student" class="btn red"> register</a>
            </div>
            <div class="column">
                <img class="img-sel" src="./img/8 SCENE.svg" alt="" srcset="">
                <h3 class="purple">
                    register as Teacher
                </h3>
                <p class="column__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/register/teacher" class="btn purple"> register</a>
            </div>
            <div class="column">
                <img class="img-sel" src="./img/9 SCENE.svg" alt="" srcset="">
                <h3 class="green">
                    register as Coaching
                </h3>
                <p class="column__text">
                    Lorem ipsum, dolor sit amet consectetur adipisicing elit.
                </p>
                <a href="/register/coaching" class="btn green"> register</a>
            </div>
        </div>
    </div>
</body>

</html>