<h1>Coaching register page</h1>

<form action="/register/coaching" method="post" enctype="multipart/form-data">
    <input type="text" name="name" placeholder="name">
    <input type="email" name="email" placeholder="email">
    <input type="text" name="address" placeholder="address">
    <input type="file" name="avatar">
    <button action="/register" type="submit">submit</button>
  </form>