*{
    scroll-behavior: smooth;
    box-sizing: border-box;
}

.flotingbtn{
    position: fixed;
    bottom: 15%;
    right: 10%;
}

.qna-container{
    width: 50%;
    display: flex;
    flex-direction: column;
    margin: 0 25%;
}

.qna-container::-webkit-scrollbar{
    display: none;
}

.ask-btn{
    position: fixed;
    bottom: 20%;
    right: 13%;
}

.ask-btn button{
    font-size: 18px;
    color: rgb(231, 229, 229);
    border: 0;
    border-radius: 20px;
    width: 150px;
    height: 40px;
    outline: none;
    background-color: rgb(70, 194, 107);
}

.qna-card{
    scroll-snap-align: center;
    padding: 20px 10px;
}

.qna-card-box{
    border-radius: 5px;
    border:solid 1px  rgb(177, 175, 175);
}

.qna-card-box img{ 
    width: 100%;
    height: 300px;
    margin-bottom: -5px;
}

.qna-card-box hr{
    margin-top: 0;
    border: 1px solid rgb(200, 204, 204);
    width: 90%;
}

.qna-card-box p{
    margin: 10px 15px;
    text-align: justify;
    font-size: 18px;
    text-decoration: none;
    color: #1d1d1c;
}

.user-lable {
    display: flex;
    flex-direction: row;
    align-items: center;

}

.user-lable h4{
    font-weight: 600;
    font-size: 15px;
    text-align: center !important;
}

.user-lable img{
    margin: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
}

.ans-input-group{
    margin: 2px 5px 2px 10px;
    display: grid;
    grid-template-columns: 85% 15%;
}


.ans-post-button{
    background-color: #fff;
    font-size: 18px;
    border: 0;
    width: 100%;
    height: 50px;
    outline: none;
    color: #2051d6;
}

.answer-input{
    width: 85%;
    height: 50px;
    border: 0;
    outline: none;
    font-size: 20px;
}

.answer{
    border-radius: 10px;
    border:solid 1px  rgb(177, 175, 175); 
    margin-top: 20px;
}

.answer hr{
    width: 90%;
    margin-top: 0;
}

.answer p{
    width: 100%;
    margin: 10px 15px;
    font-size: 18px;
    text-align: justify;
}